body {
    background-image: url('gf-toyonakaminami_main_01.jpg'); /* 拡張子を確認してください */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
